# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcworkspace/
*.xcuserstate

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
*.code-workspace

# Compiled files
*.o
*.obj
*.so
*.dylib
*.a
*.exe
*.out
*.app
PIC*
main

# Metal shader binaries
*.metallib
*.air

# Logs and temporary files
*.log
*.tmp
*.swp

# result files
*.vtk
*.vti
*.vtp
*.bin
*.zip
*.xml
*.mp4
bin/

# debug directory
gample_xcode/
*/__pycache__/
